*.xcodeproj
*.xcodeproj/*
*.o
*~
*Makefile.in
*Makefile
*makefile
COPYING
*.deps
INSTALL
aclocal.m4
ar-lib
autom4te.*
configure
depcom
install-sh
libtool
ltmain.sh
missing
sofa/*.a
*t_sofa_c
compile
config.*
*.lo
*.la
*.a
documentation/*
**/CMakeFiles/**
**/*.cmake
build/*