# Build files
**Makefile.in
*Makefile
*makefile
*.o
*.lo
*.la
*.a
**/CMakeFiles/**
build/*
sofa/*.a
*.m4
*.cmake

# IDE or editor files
*.xcodeproj
*.xcodeproj/*

*~

COPYING
*.deps
INSTALL
ar-lib
autom4te.*
configure
depcom
install-sh
libtool
ltmain.sh
missing
*t_sofa_c
compile
config.*

documentation/*

# Code coverage files
*.gcov